@media only screen and (max-width: 992px) {
    .landing p {
        font-size: 30px;
    }

    .landing .quote {
        width: 80%;
    }

}

@media only screen and (max-width: 767px) {
  
    .landing .quote {
        width: 100%;
    }

}